/** @format */

* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 18px;
	font-family: calibri;
}

#container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	#title {
		font-size: 1.8rem;
		font-weight: 600;
		padding: 20px;
	}
	#description {
		font-size: 1.2rem;
		font-weight: 600;
	}
}

#chart {
	padding-left: 20px;
	#tooltip {
		background-color: black;
		border-radius: 5px;
		color: white;
		position: absolute;
		padding: 10px;
		pointer-events: none;
		display: flex;
		flex-direction: column;
		text-justify: center;
		text-align: center;
	}
}
